<style>
    .popup {
        background: #fff;
        border: 0; /* #000 1px solid; */
        text-align: center;
        position: relative;
        max-height: 250px;
        max-width: 400px;
        padding: 10px;
        border-radius: 10px;
        height: 100%;
        position: relative;
        box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2);
    }

    .select-button {
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
        pointer: cursor !important;
        width: 100px;
        margin: 20px 0;
        font-weight: 400;
        cursor: pointer;
    }

    .green-button {
        background-color: #4CAF50;
        color: white;
    }

    .red-button {
        background-color: #f44336;
        color: white;
    }

    .grey-button {
        background-color: #ccc;
        color: black;
    }

    .select-button:hover {
        opacity: 0.8;
    }

    .left-section {
        width: 50%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .right-section {
        width: 50%;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .popup-general-text {
        line-height: 1.6;
        text-align:center; 
    }

    .popup-header {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: none !important;
    }

    .popup-background {
        background-color: rgba(104, 106, 108, 0.5);
        height: 100%;
        width: 100%;
    }

    body {
        margin: 0;
    }
</style>