<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
.tab {
    width: 100%;
}
  
.tab a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}
  
.tab a:hover:not(.navbar-active) {
    background-color: #6B9165;
}
  
.navbar-active {
    background-color: #89B681;
}

.tabs {
    list-style-type: none;
    margin: 0 0 20px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 50px;
}
</style>