<html>
<head>
  {% include 'navbar.html' %}
</head>
<body>
    <h1>Green Heroes</h1>
  <div>
    <table border="2">
        <tr><td colspan="5"><h2>&nbsp;&nbsp;&nbsp;&nbsp; Departmental <h2></td></tr>
        <tr>
        <td><b><i>Rank</i></b></td>
        <td><b><i>Department</i></b></td>
        <td><b><i>Points</i></b></td>
      </tr>
        {% for r, d, p in LUnique %}
        {% if d == current_department %}
        <tr>
          <td><b>{{r}}</b></td>
          <td><b>{{d}}</b></td>
          <td><b>{{p}}</b></td>
      </tr>
        {% else %}
            <tr>
                <td>{{r}}</td>
                <td>{{d}}</td>
                <td>{{p}}</td>
            </tr>
         {% endif %}   
        {% endfor %}
    </table>
  </div>

    <br>
    <a href="../leaderboard">Individual LeaderBoard</a>

    <br><br>
    
    <p>For every 15 meals reserved, <b>YOU</b> help us save 1 plate of
    wasted food. Thank you for helping us create a green ecosystem at school.
    </p>
    <br>
    <i>Prizes for highest ranked heroes coming soon!</i>
    <br>
    <br><br><br><br><br><br>
    <div>
        <a href="../home">Home</a> &nbsp; &nbsp; &nbsp;
        <a href="../myaccount">My Account</a> &nbsp; &nbsp; &nbsp;
        <b>LeaderBoard</b>
    </div>
</body>
</html>    