<style>
.section-header {
    font-size: 20px;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    font-style: italic;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
}

.main-header {
    font-size: 20px;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}

.general-text {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.main-page {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
</style>