<html>
<head>
</head>
<body>
    <ul>
    {% for meal in  meals %}
        <li>{{ meal.name }}, {{ meal.description }}, {{ meal.price_staff }}</li>
        <img src="media?img={{ meal.photo_url }}">
        <form id="reserve{{ meal.meal_id }}" type="post">
            {% csrf_token %}
            <button type="submit" onclick="increment({{ meal.meal_id }})">
                reserve
            </button>
        </form>
    {% endfor %}
    </ul>

    <script>
        function increment(meal_id) {
            fetch("reserve/"
                , {
                    method: "POST",
                    body: JSON.stringify({"meal_id" : meal_id, })
                }
            );
        }
    </script>


</body>
</html>