<html>
<head>
</head>
<body>
    <ul>
    {% for meal in  meals %}
        <li>{{ meal.name }}, {{ meal.description }}, {{ meal.price_staff }}</li>
        <img src="media?img={{ meal.photo_url }}">
        <form action="reserve/" id="reserve{{ meal.meal_id }}" method="POST">
            {% csrf_token %}
            <button name="meal_id" value="{{ meal.meal_id }}" type="submit">
                reserve
            </button>
        </form>
    {% endfor %}
    </ul>
    <br>
    <a href="../../">Log out</a>
</body>
</html>