<style>
    li.leaderboard-tab:not(.active) > a:hover    {
      background-color: #cccccc;
      color: #000;
      border-bottom: 2px solid #cccccc;
    }
    
    li.active.leaderboard-tab > a, li.active.leaderboard-tab > a:focus, li.active.leaderboard-tab > a:hover {
      background-color: #89B681;
      color: #ffffff;
      border-bottom: 2px solid #89B681;
      border-right: 1px solid #89B681;
      border-left: 1px solid #89B681;
      padding: 10px 15px;
    }
    
    .leaderboard-tab {
      width: 50%;
      font-weight: bold;
      fon
    }

    .nav-link {
      width: 100%;
    }
</style>