<style>
    tr:last-of-type td:first-of-type {
      border-bottom-left-radius: 10px;
    }
    tr:last-of-type td:last-of-type {
      border-bottom-right-radius: 10px;
    }

    .leaderboard-table {
      border-collapse: separate;
      width: 100%;
      border-spacing: 0;
      margin: 0 auto;
      max-width: 600px;
      border: 0;
    }

    table tr th,
    table tr td {
      padding: 5px;
      text-align: center;
    }

    table tr td {
      background: #f5f5f5;
    }

    table tr th {
      background: #4CAF50;
      color: #fff;
      text-align: center;
      padding-top: 10px;
    }

    /* bottom-left border-radius */
    table tr:last-child td:first-child {
      border-bottom-left-radius: 6px;
    }

    /* bottom-right border-radius */
    table tr:last-child td:last-child {
      border-bottom-right-radius: 6px;
    }

    .header-section {
      margin-bottom: 20px;
    }

    .leaderboard-tabs-wrapper {
      margin-bottom: 25px;
      border: #4CAF50 solid 1px;
      border-radius: 6px
    }
  </style>