<html>
<head>
  {% include 'navbar.html' %}
  {% include 'general_styles.html' %}
</head>
<body>
  <div class="tabs">
    <li class="tab"><a href="../home">Home</a></li>
    <li class="tab active"><a href="../leaderboard">Leaderboard</a></li>
    <li class="tab"><a href="../myaccount">My Account</a></li>
  </div>
  <div class="main-page">
    <p class="main-header">Green Heroes</p>
    <table border="2">
      <tr><td colspan="5"><h2>&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;
        &nbsp; Individual <h2></td></tr>
      <tr>
        <td><b><i>Rank</i></b></td>
        <td><b><i>Name</i></b></td>
        <td><b><i>Department</i></b></td>
        <td><b><i>Points</i></b></td>
      </tr>
        {% for r, n, p , d, e in LUnique %}
        {% if e == current_customer_email %}
        <tr>
          <td><b>{{r}}</b></td>
          <td><b>{{n}}</b></td>
          <td><b>{{d}}</b></td>
          <td><b>{{p}}</b></td>
      </tr>
        {% else %}
            <tr>
                <td>{{r}}</td>
                <td>{{n}}</td>
                <td>{{d}}</td>
                <td>{{p}}</td>
            </tr>
         {% endif %}
  </div>
  
  <br>
    <a href="../departmentLeaderBoard">Department LeaderBoard</a>

    <br><br>
    <p class="general-text">For every 15 meals reserved, <b>YOU</b> help us save 1 plate of
    wasted food. Thank you for helping us create a green ecosystem at school.
    </p>
    <br>
    <i>Prizes for highest ranked heroes coming soon!</i>
  </div>
</body>
</html>    