<html>
<head>
    <title>My Account</title>
</head>
<body>
    <div>
        <h2>Awards</h2>
        <b>Loyalty Points - {{points}}</b> 
        <br>
        <b>Meals Till Discount - {{discount}}</b>
    </div>

    <br>
    <br>
    <div>
        <h2>Last Order</h2>
        {% if reservation %}
        <p> {{name}} &nbsp; {{order_no}} </p>
        {% else %}
        {% endif %} 
        <a href="../order_history">View all</a>
    </div>


    <br>
    <br>
    <br>
    <br>
    <a href="../../">Log out</a>
    <br>
    <br>
    

    <div>
        <a href="../home">Home</a> &nbsp; &nbsp; &nbsp;
        <b>My Account</b>
    </div>
</body>
</html>