<html>
<head>
    <title>My Account</title>
</head>
<body>
    <h2>Welcome {{customer_name}}!</h2>

    <ul>
    <li><div>
        <b>Loyalty Points - {{points}}</b> 
    </div> </li>
    <br>
    <li><div>
        {% if reservation %}
        <p> <b>Last Order: </b> {{meal_name}} ({{order_no}}) </p>
        {% else %}
        {% endif %} 
        <a href="../order_history">View all</a>
    </div></li>
</ul>
    <br>
    <br>
    <br>
    <br>
    <a href="../../">Log out</a>
    <br>
    <br>
    <div>
        <a href="../home">Home</a> &nbsp; &nbsp; &nbsp;
        <b>My Account</b> &nbsp; &nbsp; &nbsp;
        <a href="../leaderboard">LeaderBoard</a> 
    </div>
</body>
</html>