<html>
    <head>
        {% include 'link_style.html' %}
        {% include 'general_styles.html' %}
        {% include 'consumer_popup.html' %}
        <title>Order Confirmed</title>
    </head>
    <body>
        <div class="popup-background">
            <div class="main-page">
                <div class="centrize">
                    <div class="popup">
                        <div>
                            <p class="main-header popup-header">Order Confirmed</p>
                        </div>
                        <div style="display: none;" id="meal_id">{{ meal_id }}</div>
                        <div>
                            <p class="general-text popup-general-text">Your order number is #{{order_no}}. Remember to use this code during checkout. </p> 
                        </div>
                        <div style="height: 40%; position: relative">
                            <div class="left-section" style="width: 65% !important; position: relative"> 
                                <form style="width:100%" action='emailsent/' method="POST">
                                    {% csrf_token %}
                                <button class="select-button grey-button" style="width: 80%" type="submit" name="submit" value="{{order_no}}"
                                        id="submit-id-update">Get Email Confirmation</button>
                                </form>
                            </div>
                            <div class="right-section" style="width: 35% !important">
                                <a href="../../home/"><button class="select-button green-button">OK</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script type="text/javascript">
    console.log('dynamic reserve happening')

    socket = new WebSocket((window.location.protocol === 'https:' ? 'wss' : 'ws') + '://' + window.location.host + '/ws/dynamic/')
    console.log(document.getElementById("meal_id").textContent)
    socket.onopen = function(e) {
        socket.send(JSON.stringify({
            'message': document.getElementById("meal_id").textContent,
        }));
    };
</script>