<html>
    <head>
        {% include 'producer_popup.html' %}
        {% include 'general_styles.html' %}
        <title>Checkout Failure</title>
    </head>
    <body>
        <div class="popup-background">
            <div class="main-page">
                <div class="centrize">
                    <div class="popup" style="max-height: 200px !important">
                        <div>
                            <p class="popup-header main-header">Order Failure</p>
                        </div>
                        <div>
                            <p class="popup-general-text general-text">{{ message }}</p>
                        </div>
                        <div>
                            <a href="../checkout"><button class="select-button green-button">OK</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>