<html>
<head>
</head>
<body>
    <h1> {{ restaurant_name }} </h1>
    <ul>
    {% for meal in meals %}
        <li>{{ meal.name }}, {{ meal.description }}, {{ meal.price_staff }}</li>
        {% if meal.picture %}
        <img src="{{ meal.picture.url }}">
        {% endif %}
        <br>
    {% endfor %}
    <br>
    <a href = "../addmenu">Add Item</a> &nbsp; &nbsp; &nbsp;
    </ul>
    <br>
    <div>
        <b>Menu</b> &nbsp; &nbsp; &nbsp;
        <a href = "../checkout">Checkout</a> &nbsp; &nbsp; &nbsp;
        <a href="../mycafe">My Cafe</a>
    </div>
</body>
</html>