<html>
    <head>
        {% include 'general_styles.html' %}
        {% include 'producer_navbar.html' %}
        {% include 'menu_form_styles.html' %}
        {% include 'producer_popup.html' %}
        <style>
            .popup-changes {
                max-width: 450px;
                max-height: 250px;
            }

            .main-header-changes {
                margin: 20px 0;
            }

            .popup-general-text-changes {
                margin: 10px 0;
            }
        </style>
        <script src='https://cdn.tailwindcss.com'></script>
        <title>Menu</title>
    </head>
    {% if submitted %}
    <body>
        <div class="popup-background">
            <div class="main-page">
                <div class="centrize">
                    <div class="popup popup-changes" style="padding: 10px 40px !important">
                        <div class="main-header main-header-changes">Add Item Success</div>
                        <div class="general-text popup-general-text popup-general-text-changes">Your menu item was added successfully</div>
                        <div class="button-section">
                        <a href="../displaymenu"><button class="select-button green-button">OK</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    {% else %}
    <body>
        <div class="tabs">
            <li class="tab"><a href="../displaymenu">Go Back To Menu Display Page</a></li>
        </div>
        <div class="main-page">
            <div class="main-header-section">
                <p class="main-header">Add New Menu Item</p>
            </div>
            <div class="form-wrapper"> 
                <form action="" method="POST" enctype = "multipart/form-data">
                    {% csrf_token %}
                    <div class="form-fields-wrapper">
                        {% for field in form %}
                            <div class="form-field-label-wrapper">
                                <div class="left-section">
                                    <div class="form-label-wrapper">
                                        {{ field.label_tag }}
                                    </div>
                                </div>
                                <div class="right-section">
                                    <div class="form-field-wrapper">
                                        {{ field.errors }}
                                        {{ field }}
                                        {% comment %} {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %} {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="submit-button-section">
                        <button class="submit-button" type="submit"> Submit </button>
                    </div>
                </form>
            </div>
        </div>
    </body>
    {% endif %}
</html>