<style>
    .text-input {
        width: 100%;
        border-radius: 10px;
        border: 1px solid #111;
        padding: 0 10px;
    }

    .submit-button {
        background-color: #4CAF50 !important;
        color: white;
        padding: 8px 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 50%;
    }
    
    .form-field-wrapper {
    }

    .form-label-wrapper {
        text-align: right;
        margin-right: 10px;
    }

    .left-section {
        width: 30%;
        float: left;
        position: relative;
        vertical-align: middle;
    }

    .right-section {
        width: 70%;
        float: right;
        vertical-align: middle;
    }

    .form-field-label-wrapper {
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
        position: relative;
    }

    .submit-button-section {
        text-align: center;
    }

    .form-fields-wrapper {
        margin-bottom: 20px;
    }

    .form-wrapper {
        position: relative;
    }

    .main-header-section {
        margin-bottom: 20px;
    }
</style>