<html>
<head>
    <title>My Cafe</title>
    {% include 'logout_button.html' %}
    {% include 'producer_navbar.html' %}
    {% include 'producer_general_styles.html' %}
    {% include 'mycafe_table_styles.html' %}
  <script src='https://cdn.tailwindcss.com'></script>
</head>
<body style="overflow:hidden">
    <div class="tabs">
        <li class="tab"><a href = "../displaymenu">Menu</a></li>
        <li class="tab"><a href="../checkout">Checkout</a></li>
        <li class="tab navbar-active"><a href=".">My Cafe</a></li>
    </div>
    <div class="centrize">
    <div class="main-page" style="text-align: center">
        <div class="leaderboard-table-wrapper">
          <table class="leaderboard-table" style="margin-bottom: 10px; border: #4CAF50 solid 1px; border-radius: 10px">
              <thead>
                  <tr>
                    <th><b>Meal</b></th>
                    <th><b>Reservations</b></th>
                  </tr>
              </thead>
              {% for meal in meals %}
                  <tr>
                      <td>{{meal.name}}</td>
                      <td id="numres{{meal.meal_id}}">{{meal.number_of_reservations}}</td>
                  </tr>
              {% endfor %}
          </table>
        </div>
        <div class="logout-button-section">
          <a href="../../"><button class="logout">Log out</button></a>
        </div>
      </div>
    </div>
  </body>
</html>


<script type="text/javascript">
  console.log('dynamic mycafe happening');

  socket = new WebSocket((window.location.protocol === 'https:' ? 'wss' : 'ws') + '://' + window.location.host + '/ws/dynamicMycafe/');

  socket.onmessage = function(e) {
    console.log('Meal_id Reserved: ' + e.data);
    // console.log(typeof e.data)
    const meal_id = JSON.parse(e.data).message
    console.log(meal_id)
    var numres = document.getElementById("numres" + meal_id);
    if (numres !== null) {
        numres.textContent = (parseInt(numres.textContent) + 1).toString();
    }
};
</script>
