<style>
.section-header {
    font-size: 25px;
    font-family: Montserrat, sans-serif;
    color: #000000;
    text-transform: uppercase;
}

.main-header {
    font-size: 20px;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}

.general-text {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.main-page {
    width: 100%;
    max-width: 600px;
    margin: auto auto;
}

.centrize {
    text-align: center;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

input:focus::placeholder {
    color: transparent;
}
</style>