<html>
    <head>
        <title>LetsSolveLunch</title>
        {% include 'general_styles.html' %}
        <style>
            body {
                margin: 0;
            }
            
            .centrize {
                text-align: center;
                height: 100%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        </style>
    </head>
    <body>
        <div class="main-page centrize">
            <div>
                <p class="main-header">LetsSolveLunch</p>

                <form action="consumer/home/" method="POST">
                    {% csrf_token %}
                    <input type="email" name="user_email" placeholder="Email">
                    <button type="submit">Login as Customer</button>
                </form>

                <form method="POST" action="producer/mycafe/">
                    {% csrf_token %}
                    <input type="email" name="producer_email" placeholder="Email">
                    <button type="submit">Login as Producer</button>
                </form>
            </div>
        </div>
    </body>
</html>